<div class="home-container">
  <div class="intro-section">
    <h1>
      HELLO<br />
      IM <span class="app-smaincolor">JESUS ALVAREZ</span><br />
      FULLSTACK DEV
    </h1>
    <p class="description">
      I am a Software Engineer specializing in high-performance system architecture with .NET and Rust. My work focuses on building secure enterprise cloud solutions and automating complex industrial workflows. Driven by a mission for accessibility, I also design neuro-inclusive UI/UX to create more intuitive and stress-free digital environments. Fun fact: I'm also an indie game developer with Godot!
    </p>
    <div class="tech-stack">
      <img src="icons/programming-languages/csharp-logo.png" alt="C#" title="C#">
      <img src="icons/programming-languages/rust-logo.png" alt="Rust" title="Rust">
      <img src="icons/programming-languages/angular-logo.png" alt="Angular" title="Angular">
      <img src="icons/programming-languages/godot-logo.png" alt="Godot" title="Godot">
    </div>
  </div>

  <app-code-editor></app-code-editor>
</div>
