header {
  height: 100dvh;
  max-height: 100dvh;
  min-height: 100dvh;
  width: 200px;
  position: absolute;
  transform: translateX(-200px);
  transition: transform 0.3s ease;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  flex-grow: 1;

  background-color: var(--background-color);

  padding: 1.5em;
}

.nav-open {
  transform: translateX(0);
}