header {
  height: 100dvh;
  max-height: 100dvh;
  min-height: 100dvh;
  width: 200px;
  position: absolute;
  transform: translateX(-200px);
  transition: transform 0.3s ease;
}

.main {
  background-color: var(--background-color);
  
  display: flex;
  flex-direction: column;
  
  min-height: 100dvh;
  max-height: 100dvh;
  flex-grow: 1;
  padding: .75em;

  overflow: scroll;
}

.nav-open {
  transform: translateX(0);
}