.nav-bar {
    background-color: black;
    color: white;
    height: 100dvh;
    width: 100px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1em;
}

button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 0;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 12px 0;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

.nav-links a.active {
    font-weight: bold;
}
